<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/locais.css' />
    <link rel='stylesheet' href='/stylesheets/alojamento.css' />
  </head>
  <body>
    <h1>Alojamento</h1>
    <div class="content">
        <p>Alguns alunos podem morar no Alojamento.</p>
        <p>Para isso, devem manter um rendimento acadêmico acima de 7.</p>
        <p>Quando algum não é atendido, os alunos são convidados orientados pelo reitor a buscar uma moradia fora do campus.</p>
        <p>O alojamento possui um sistema que contém informações de alunos que ocupam cada quarto.</p>
    </div>
    <a href="/home" class="BackIcon">
        <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
        <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
        <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
        <p><b>Fazer Consulta</b></p>
    </a>

  </body>
</html>
