<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/locais.css' />
    <link rel='stylesheet' href='/stylesheets/banco.css' />
  </head>
  <body>
    <h1>Banco Minerval</h1>
    <div class="content">
      <p>O Banco Minerval administra os recursos financeiros dos universitários.</p>
      <p>As bolsas de ajuda estudantil e parte do salário dos funcionários são pagos com a moeda eletrônica Minerval.</p>
      <p>Os correntistas possuem cartões que podem ser utilizados em somente nos estabelecimentos da universidade e nos ônibus do campus.</p>
      <p><b>Pista 3: </b>Havia uma mancha em uma das páginas do livro. Segundo a perícia, esta mancha havia sido feita em menos de 12 horas do episódio.</p>
    </div>
    <a href="/home" class="BackIcon">
      <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
      <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
      <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
      <p><b>Fazer Consulta</b></p>
    </a>
  </body>
</html>