<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/locais.css' />
      <link rel='stylesheet' href='/stylesheets/biblioteca.css' />
  </head>
  <body>
    <h1>Biblioteca</h1>
    <div class="content">
      <p>A Biblioteca Central possui um enorme acervo de livros para consulta.</p>
      <p>É muito comum possuir diversos exemplares do mesmo título, pois é comum ter uma demanda grande de estudantes em busca dos livros utilizados em aula em época de prova.</p>
      <p>A Biblioteca possui um sistema que pode ser consultado.</p>
      <p><b>Pista 5: </b>As equipes dos bombeiros suspeitam que o incêndio tenha sido criminoso, pois foram encontrados resquícios de carbureto, um elemento químico que, quando misturado à água, produz o gás acetileno, altamente inflamável e muito utilizado nos laboratórios de pesquisa da universidade.</p>
    </div>
    <a href="/home" class="BackIcon">
      <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
      <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
      <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
      <p><b>Fazer Consulta</b></p>
    </a>
  </body>
</html>