<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/locais.css' />
      <link rel='stylesheet' href='/stylesheets/cafeteria.css' />
  </head>
  <body>
    <h1>Cafeteria</h1>
    <div class="content">
      <p>A cafeteria fica em uma loja anexo ao prédio da </p>
      <p>É frequentado por diversas pessoas, pois, se aceita como pagamento o Minerval (moeda eletrônica local criada para desenvolver o comércio no campus).</p>
      <p>Você poderá acessar o registro de pagamentos realizados na cafeteria.</p>
      <p><b>Pista 4: </b>A polícia suspeita que o criminoso tenha colocado fogo utilizando uma reação química com carbureto, um elemento químico que, quando misturado à água, produz o gás acetileno, altamente inflamável e muito utilizado nos laboratórios de pesquisa da universidade.</p>
    </div>
    <a href="/home" class="BackIcon">
      <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
      <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
      <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
      <p><b>Fazer Consulta</b></p>
    </a>
  </body>
</html>