<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/locais.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/consulta.css' />
</head>
<body>
<h2>Consultas</h2>
<div class="iframeContent">
    <iframe src="http://localhost/queries/new"></iframe>
</div>
<a href="/home" class="BackIcon">
    <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
    <p><b>Voltar</b></p>
</a>
</body>
</html>