<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css'/>
</head>
<body>

<div id="modalHist">
    <h1>Incêndio na reitoria da UFRJ</h1>
    <p>Um incêndio de grandes proporções atingiu na noite do dia 03/10/2016 o oitavo andar do prédio da reitoria da Universidade Federal do Rio de Janeiro (UFRJ) na Ilha do Fundão, Zona Norte do Rio.</p>
    <p>O fogo tomou conta do último andar do prédio e atingiu o departamento de Tecnologia da Informação onde estavam os servidores com todas as informações referentes aos rendimentos acadêmicos dos alunos da universidade.</p>
    <p>As equipes dos bombeiros suspeitam que o incêndio tenha sido criminoso, pois foram encontrados resquícios de carbureto, um elemento químico que, quando misturado à água, produz o gás acetileno, altamente inflamável e muito utilizado nos laboratórios de pesquisa da universidade.</p>
    <p><b>A equipe de perícia precisa dos seus conhecimentos em Banco de Dados para desvendar este caso. </b></p>
    <p>Alguns locais da Universidade armazenam dados de entrada e saída de pessoas e outras informações.</p>
    <p>Faça buscas nos diversos registros da universidade atrás de pistas para encontrar o incendiário.</p>
    <p><b>Encontre o incendiário! Boa sorte!!</b></p>
    <img src="/images/chama.png" alt="Reitoria em chamas">
</div>
<div id="modalLocais">
    <div class="circle_block">
        <a href="/reitoria" class="circle">
            <img class="circle" src="/images/reitoria.jpg" alt="Reitoria em chamas">
        </a>
        <p><b>Reitoria</b></p>
    </div>
    <div class="circle_block">
        <a href="/onibus" class="circle">
            <img class="circle" src="/images/onibus.jpg" alt="Reitoria em chamas">
        </a>
        <p><b>Ônibus</b></p>
    </div>
    <div class="circle_block">
         <a href="/biblioteca" class="circle">
             <img class="circle" src="/images/biblioteca.jpg" alt="Reitoria em chamas">
         </a>
         <p><b>Biblioteca</b></p>
     </div>
    <div class="circle_block">
        <a href="/banco" class="circle">
            <img class="circle" src="/images/banco.jpg" alt="Reitoria em chamas">
        </a>
        <p><b>Banco Minerval</b></p>
    </div>
    <div class="circle_block">
        <a href="/cafeteria" class="circle">
            <img class="circle" src="/images/cafeteria.jpg" alt="Reitoria em chamas">
        </a>
        <p><b>Cafeteria</b></p>
    </div>
    <div class="circle_block">
        <a href="/secretaria" class="circle">
            <img class="circle" src="/images/secretaria.jpg" alt="Reitoria em chamas">
        </a>
        <p><b>Secretaria</b></p>
    </div>
    <div class="circle_block">
        <a href="/alojamento" class="circle">
            <img class="circle" src="/images/alojamento.jpg" alt="Reitoria em chamas">
        </a>
        <p><b>Alojamento</b></p>
    </div>
    <div class="circle_block">
        <a href="/" class="circle">
            <img class="circle" src="/images/jasei.jpg" alt="Ja sei">
        </a>
        <p><b>Já sei quem foi!</b></p>
    </div>
</div>

</body>
</html>
