<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Quem colocou fogo na Reitoria?</p>

    <a href="/home" title="Play video" class="play"></a>
    <h2>Jogar</h2>
    <span class="headline">Ajude a desvendar o mistério!!</span>
  </body>
</html>
