<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/locais.css' />
      <link rel='stylesheet' href='/stylesheets/onibus.css' />
  </head>
  <body>
    <h1>Onibus</h1>
    <div class="content">
      <p>O único acesso ao prédio da Reitoria é através dos ônibus internos da Universidade.</p>
      <p>Todos os ônibus utilizam um sistema de controle que registram através de um cartão Minerval, os pontos  onde os passageiros embarcaram e desembarcaram.</p>
      <p><b>Pista 2: </b>O livro de encontrado possuía o carimbo da Biblioteca Central da Universidade.</p>
    </div>
    <a href="/home" class="BackIcon">
      <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
      <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
      <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
      <p><b>Fazer Consulta</b></p>
    </a>
  </body>
</html>