<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/locais.css' />
      <link rel='stylesheet' href='/stylesheets/reitoria.css' />
  </head>
  <body>
    <h1>Reitoria</h1>
    <div class="content">
      <p>Esse é o prédio que pegou fogo!</p>
      <p>A portaria da reitoria possui um sistema de controle para entrada dos funcionários e visitantes.</p>
      <p>Para acessar o prédio, o suspeito precisou se identificar na entrada.</p>
      <p>Você poderá fazer buscas ao banco de dados do sistema para saber quem teve acesso ao prédio.</p>

      <p><b>Pista 1: </b>Um livro de química queimado foi encontrado no local do crime.</p>

    </div>
    <a href="/home" class="BackIcon">
      <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
      <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
      <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
      <p><b>Fazer Consulta</b></p>
    </a>
  </body>
</html>