<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/stylesheets/locais.css' />
      <link rel='stylesheet' href='/stylesheets/secretaria.css' />
  </head>
  <body>
    <h1>Secretaria</h1><div class="content">
      <p>A secretaria acadêmica possui informações de todos os alunos dos cursos.</p>
      <p>Parte das informações da secretaria acadêmica compõe o banco de dados da Reitoria que pegou fogo.</p>
    </div>
    <a href="/home" class="BackIcon">
      <img class="circle" src="/images/back_icon_write.png" alt="Voltar">
      <p><b>Voltar</b></p>
    </a>
    <a href="/consulta" class="findIcon">
      <img class="circle" src="/images/data-find-icon.png" alt="Fazer Consulta">
      <p><b>Fazer Consulta</b></p>
    </a>
  </body>
</html>